/*Drop down effect*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*Family Font*/
/* Screen Versions 
I also made a big screen version, as I noticed that the h2 on my big monitor
looked great, but then when i checked on my laptop it was smaller, so I had to make it all look the same. 
*/
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .holdingcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header > .banner-1 {
    visibility: hidden;
  }
  h2 {
    background: lightgrey;
    width: 54.2% !important;
    margin-left: 2.65em !important;
  }
  .logo {
    text-align: center;
  }
  footer {
    position: relative !important;
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    visibility: hidden;
  }
  .nav-links-footer {
    margin-left: 13em;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .how-to {
    visibility: hidden;
  }
  figcaption {
    position: absolute;
    left: 0.1px;
    margin-right: 33.9em !important;
  }
  span {
    right: 30em;
    margin-right: 28em;
    background: black;
  }
  .polars {
    margin-left: -7em;
  }
  iframe {
    width: 100%;
  }
  #tesla {
    visibility: hidden;
  }
}

@media screen and (min-width: 900px) {
  h2 {
    background: lightgrey;
    margin-left: 11.52em !important;
    margin-right: 11.9em !important;
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    background: lightgrey;
    margin-left: 21.52em !important;
    margin-right: 21.9em !important;
  }
}

/*                                  Tablet version
Everything works here and I also brought back the banner on the top left (in mobile is not 
supposed to be there), however I could make two columns.*/
@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    background: lightgrey;
    margin-left: 2.8em !important;
    margin-right: 21.9em !important;
  }
  header > .banner-1 {
    visibility: visible;
  }
}

/********************/
* {
  min-height: 0px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

/*Top of the page*/
header {
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5b191b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.banner-1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  text-decoration: none;
}

li {
  padding: 20px 17px;
  color: white;
  list-style: none;
}

/*Bottom of the page*/
footer {
  height: 15vh;
  position: relative;
  bottom: 0px;
  width: 100%;
  background: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px;
}

.nav-links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

a:hover {
  color: blue;
}

.myname {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 2px;
}

/*Main Page*/
.date-on-the-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px;
  color: black;
}

.holdingcontainer {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

div > a {
  text-decoration: none;
  background-color: black;
  margin-right: 40px;
}

.internalcontainer1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  font-size: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.internalcontainer2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  font-size: 18px;
}

.internalcontainer3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  font-size: 18px;
}

.bot-left1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bot-right1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bot-left2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box-right2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.images {
  width: 260px;
  height: 173.22px;
  -webkit-animation: drop 1.5s ease;
          animation: drop 1.5s ease;
}

.how-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
}

.bottomcontainer {
  width: 1000px;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

iframe {
  border: 5px solid black;
}

figcaption {
  text-align: centers;
  color: white;
  margin-left: auto;
  background-color: black;
  position: relative;
  margin-right: 10px;
}

#bottom-pics {
  margin-right: 5.9em;
}

.centralise {
  margin-left: 6em;
}
/*# sourceMappingURL=styles.css.map */